
examples/Example04_singleButton/debug.cfg
examples/Example04_singleButton/debug_custom.json
examples/Example04_singleButton/esp32s2.svd
examples/Example10_oneTextLog/debug.cfg
examples/Example10_oneTextLog/debug_custom.json
examples/Example10_oneTextLog/esp32s2.svd
